/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
app-root{
  width: 1280px !important;
  height: 800px !important;

}