<mat-drawer-container class="testers_side_bar">
    <mat-drawer mode="side" opened="true">
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
