<div class="flex-container"
  fxLayout="column"
  fxLayoutAlign="center center">
  <a routerLink="/" routerLinkActive="current" mat-button>Services</a>
  <a routerLink="/" routerLinkActive="current" mat-button>Screens</a>
  <a routerLink="/" routerLinkActive="current" mat-button>Objects</a>
  <a routerLink="/" routerLinkActive="current" mat-button>Scenario</a>
  <a routerLink="/" routerLinkActive="current" mat-button>Tests</a>
  <a routerLink="/" routerLinkActive="current" mat-button>Modules</a>
</div>
