<div class="flex-container" fx-layout="row" fx-layout-align="start start">
<form action="#">
</form>
  <mat-form-field>
    <input matInput />
  </mat-form-field>
</div>
<div *ngFor="let screen of screens">
  <div><a (click)="screenDetail(screen.id)" mat-button>{{screen.name}}</a></div>
</div>
